*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

    body{
        display: flex;
        /* Values not needed for live website
        width: 1440px;
        height: 1024px; */
        flex-direction: column;
        align-items: flex-start;
    }

    header{
        display: flex;
        height: 200px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        align-self: stretch;
        color: #323232;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        font-variation-settings:
        "SOFT" 100,
        "WONK" 1;
        line-height: normal;
    }

    main{
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        align-self: stretch;
    }

    footer{
        display: flex;
        height: 120px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        align-self: stretch;        
        color: #5b5b5b;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 200;
        font-variation-settings:
        "SOFT" 50,
        "WONK" 1;
        line-height: normal;
    }

    .row{
        display: flex;
        padding: 98px 63px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 48px;
        flex: 1 0 0;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .subpage{
        width: 350px;
        height: 350px;
        border-radius: 41px;
        background: #D3FFDA;
        /*box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.35);*/
        /*overflow hides content outside the bounds set */
        overflow: hidden;
    }

    .subpage:hover{
        box-shadow: 4px 4px 8px 0px rgba(94, 60, 60, 0.35);
    }

    .subpage-image{
        display: inline-flex;
        width: 350px;
        height: 350px;
        /* padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px; */
        flex-shrink: 0;
        /* image provided in HTML
        background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
    }

    .labelcontainer{
        display: flex;
        width: 350px;
        height: 120px;
        padding: 20px 41px;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 80%);
        position: relative;
        bottom: 164px;
    }

    .subpage-title{
        color: #dbff10;
        text-align: center;
        font-family: "fraunces", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
    }

    .img-container{
        display: flex;
        padding-top:0px;
        padding: bottom 0px;
        padding-left: 64px;
        padding-right: 64px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        flex-wrap: wrap;
        position: relative;
    }

    p{
        /* Margins essentially act like paragraph spacing in this instance */
        margin-bottom: 12px;
        /* This sets the font for all <p>, unless otherwsie specified */
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    courselog {
        padding: 70px;
        border: 1px solid #4CAF50;
    }

/* FOR THE RESPONSIVE HEADER */
/* Style the header with a grey background and some padding */
    .header {
        overflow: hidden;
        padding: 20px 10px;
    }

  /* Style the header links */
    .header a {
        float: left;
        color: rgb(207, 207, 207);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 32px;
        line-height: 25px;
        border-radius: 4px;
    }

  /* Change the background color on mouse-over */
    .header a:hover {
        color: rgb(146, 29, 66);
    }

    /* Style the active/current link*/
    .header a.active {
        font-weight: bold;
        color: rgb(146, 29, 66);
    }

    /* FOR COURSE LOG */
    hr{
        border: 0;
        width:100%;
        border-bottom: .5px solid #dbd0cb;
        margin: 2em 0em 2em 0em;
    }

    .entry {
        max-width: 900px;
        padding: 100px;
    }

    .intro{
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    #subtitle {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color:rgb(146, 29, 66);
        text-transform: uppercase;
    }

    .mainContentColumn{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    h1{
        font-family: "Fraunces", serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 200;
        font-variation-settings:
        "SOFT" 100,
        "WONK" 1;
        line-height: normal;
    }


    /****************************
*
* BMC_3DViewer v0.01
* Author: Michael Corrin
* 2024-10-07
*
******************************/

div.bmc_3dviewer {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family:'Courier New', Courier, monospace */
}
/* 
* Generic rule that defines the size
* of a viewer if width and height is not
* more specifically defined. 
*/
div.bmc_3dviewer, div.bmc_3dviewer div.overlay {
    width:300px; 
    height:300px; 
}

div.bmc_3dviewer svg circle.hidden, div.bmc_3dviewer svg g.hidden text, div.bmc_3dviewer svg g.hidden rect {
    display: none;
}
div.bmc_3dviewer svg g text {
    fill:black;
    font-size: small;
    user-select: none;
    -webkit-user-select: none;
}
div.bmc_3dviewer svg {
    cursor: grab;
}
div.bmc_3dviewer svg.hidden {
    visibility: hidden;
}
div.bmc_3dviewer svg g rect {
    fill:white;
    rx: 10px;
}
div.bmc_3dviewer svg circle {
    fill:black;
    stroke:white;
    r: 5px;
}
div.bmc_3dviewer {
    position: relative;
    margin-left: 2em;
    margin-bottom: 2em;
}
div.bmc_3dviewer div.overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%; 
}
.bmc_3dviewer div.labelToggle {
    position: absolute;
    top:0;
    padding: 0.5em;
}
.bmc_3dviewer div.labelToggle.hidden {
    display: none;
}

.bmc_3dviewer div.labelToggle label {
    color:#DDDDDD;
    font-size: small;
}
.bmc_3dviewer div.cameraControls {
    position: absolute;
    top:0;
    right:0;
    padding: 0.5em;
}
.bmc_3dviewer div.debugger {
    position: absolute;
    right:0;
    top:0;
    width:14em;
    padding: 0.5em;
    margin: 0.25em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
}
.bmc_3dviewer div.debugger h2, .bmc_3dviewer div.debugger{
    font-size: small;
}
.bmc_3dviewer div.debugger h2 {
    user-select: none;
    -webkit-user-select: none;
}
.bmc_3dviewer g.preloader rect{
    fill: none;
    stroke: black;
}
.bmc_3dviewer g.preloader rect.innerLoadBar{
    fill: #6666FF;
    stroke: none;
}
.bmc_3dviewer div.loadButtonContainer, .bmc_3dviewer div.cameraControls, .bmc_3dviewer div.labelToggle {
    user-select: none;
    -webkit-user-select: none;
}
.bmc_3dviewer div.loadButtonContainer {
    padding:0.25em;
    width:100%;
    text-align: center;
}
.bmc_3dviewer div.loadButtonContainer.insideBottomEdge {
    position: absolute;
    bottom: 0;
}
.bmc_3dviewer div.loadButtonContainer.insideCenter {
    position: absolute;
    top: 50%;
}

/*FOR CALM EXPERIMENT*/
.two-columns {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.column {
    flex: 1;
}

.text-column {
    padding-right: 10px;
}

.image-column img {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}